In [5]:
import sys
sys.path.append(r"C:\pythonprojects\calculas\venv\Lib\site-packages")
import pandas as pd
from jax import vmap,grad
import jax.numpy as jnp
import numpy as np
df = pd.read_csv("C:/Users/ashok/Downloads/prices.csv")
df

,date,price_supplier_a_dollars_per_item,price_supplier_b_dollars_per_item
0,1/02/2016,104,76
1,1/03/2016,108,76
2,1/04/2016,101,84
3,1/05/2016,104,79
4,1/06/2016,102,81
5,1/07/2016,105,84
6,1/08/2016,114,90
7,1/09/2016,102,93
8,1/10/2016,105,93
9,1/11/2016,101,99
10,1/12/2016,109,98
11,1/01/2017,103,96
12,1/02/2017,93,94
13,1/03/2017,98,104
14,1/04/2017,92,101
15,1/05/2017,97,102
16,1/06/2017,96,104
17,1/07/2017,94,106
18,1/08/2017,97,105
19,1/09/2017,93,103
20,1/10/2017,99,106
21,1/11/2017,93,104
22,1/12/2017,98,113
23,1/01/2018,94,115
24,1/02/2018,93,114
25,1/03/2018,92,124
26,1/04/2018,96,119
27,1/05/2018,98,115
28,1/06/2018,98,112
29,1/07/2018,93,111
30,1/08/2018,97,106
31,1/09/2018,102,107
32,1/10/2018,103,108
33,1/11/2018,100,108
34,1/12/2018,100,102
35,1/01/2019,104,104
36,1/02/2019,100,101
37,1/03/2019,103,101
38,1/04/2019,104,100
39,1/05/2019,101,103
40,1/06/2019,102,106
41,1/07/2019,100,100
42,1/08/2019,102,97
43,1/09/2019,108,98
44,1/10/2019,107,90
45,1/11/2019,107,92
46,1/12/2019,103,92
47,1/01/2020,109,99
48,1/02/2020,108,94
49,1/03/2020,108,91

In [8]:
### START CODE HERE ### (~ 4 lines of code)
prices_A = df.price_supplier_a_dollars_per_item
prices_B = df.price_supplier_b_dollars_per_item
prices_A = np.array(prices_A).astype('float32')
prices_B = np.array(prices_B).astype('float32')
### END CODE HERE ###
prices_A
prices_B

array([ 76.,  76.,  84.,  79.,  81.,  84.,  90.,  93.,  93.,  99.,  98.,
        96.,  94., 104., 101., 102., 104., 106., 105., 103., 106., 104.,
       113., 115., 114., 124., 119., 115., 112., 111., 106., 107., 108.,
       108., 102., 104., 101., 101., 100., 103., 106., 100.,  97.,  98.,
        90.,  92.,  92.,  99.,  94.,  91.], dtype=float32)